{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}
    <h1>
        THIS IS THRIFTSHARE!!!!
    </h1>
    <p>
        Created by Juan Molina and Vanessa Chambers, ThriftShare is an online trading platform
        for Harvard students.  Upon registering, users are given five ThrifTokens which can be used
        on the platform to claim items that interest them.  Users can also post items that they would
        like to give away on the platform.  Each time a user's posted item is traded, the user gains
        a ThrifToken.
    </p>
{% endblock %}