{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <h1 align="center">
        <u>
          ThriftShare
        </u>

    </h1>

    <div class="icontainer">
        <img src="static/images/TSlogo.png" style="opacity:0.07; width:100%;" align="center">
        <div class="bottom-left" color="black" size="7"></div>
        <div class="top-left">
            <font size="9" color="black">
                Welcome to ThriftShare, a web service designed for students to share and trade items!
                Do you have unwanted books, old phone cases, clothes that dont fit anymore, and other uneeded items lying around
                your room? Well, ThriftShare is the site for you; on this site you can give away items and claim other people's
                items--all for free!

                To begin sharing, click the "Register" tab to create an account! If you already have one, use the 'Log in'
                tab to log in!
            </font>
        </div>
    </div>

{% endblock %}