{% extends "layout.html" %}

{% block title %}
    Post
{% endblock %}

{% block main %}
    <h1 align="center">
        Post
    </h1>
    <form action="/post" method="post" enctype = "multipart/form-data">
        <div class="form-group">
            <label>
                Item Name
                <input autocomplete="off" autofocus class="form-control" name="item" placeholder="Item Name" type="text" required>
            </label>
        </div>
        <div class="form-group">
            <label>
                Image
                <input class="form-control" name="file" type="file">
                    <font color="red" size="2">Image must be in .jpeg, .png, or .bmp format</font>
            </label>
        </div>
        <div class="form-group">
            <label>
                Item Description
                <input class="form-control" name="description" type="text" placeholder="Item Descrption">
                </label>
        </div>

        <button class="btn btn-primary" type="submit">Post</button>
    </form>
{% endblock %}
