{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <h1 align="center">
        Register
    </h1>
    <form action="/register" method="post">
        <!--all from boostrap-->
        <div class="form-row">
            <div class="col-md-4 mb-3">
                <label for="validationServer01">First name</label>
                <input type="text" class="form-control" name="firstname" id="validationServer01" placeholder="First name"  required>

            </div>

            <div class="col-md-4 mb-3">
                <label for="validationServer02">Last name</label>
                <input type="text" class="form-control" name="lastname" id="validationServer02" placeholder="Last name" required>

            </div>

            <div class="col-md-4 mb-3">
                <label for="validationServer03">Username</label>
                <input type="text" class="form-control" name="username" id="validationServer03" placeholder="Username" maxlength="30" required>

            </div>
        </div>

        <div class="form-row">
            <div class="col-md-6 mb-4">
                <label for="validationServer04">Password</label>
                <input class="form-control" name="password" placeholder="Password" type="password" required>

            </div>

            <div class="col-md-6 mb-4">
                <label for="validationServer04">Password Confirmation</label>
                <input class="form-control" name="confirmation" placeholder="Confirm password" type="password" required>

            </div>

            <div class="col-md-3 mb-4">
                <label for="validationServer04">Email</label>
                <input class="form-control" name="email" placeholder="email" type="text" required>

            </div>

            <div class="col-md-3 mb-4">
                <label for="validationServer04">Email Confirmation</label>
                <input class="form-control" name="econfirm" placeholder="Confirm email" type="text" required>
            </div>

            <div class="col-md03 mb-4">
                <label>
                    Phone Number (no spaces)
                    <input class="form-control" name="pnumber" placeholder="Phone number (no spaces)" type="number" required>
                </label>
            </div>
        </div>

        <div class="form-row">
            <div class="col-md-3 mb-2">
                <label class="my-1 mr-2" for="dorm">Dorm/House</label>
                <select class="custom-select my-1 mr-sm-2" id="dorm" name="dorm" placeholder="Dorm" required>
                    <option selected disabled>Dorm</option>
                    <option value="Harvard Yard">Harvard Yard (Freshman)</option>
                    <option value="Adams">Adams</option>
                    <option value="Cabot">Cabot</option>
                    <option value="Currier">Currier</option>
                    <option value="Dudley">Dudley</option>
                    <option value="Dunster">Dunster</option>
                    <option value="Eliot">Eliot</option>
                    <option value="Kirkland">Kirkland</option>
                    <option value="Leverett">Leverett</option>
                    <option value="Lowell">Lowell</option>
                    <option value="Mather">Mather</option>
                    <option value="Pforzheimer">Pforzheimer</option>
                    <option value="Quincy">Quincy</option>
                    <option value="Winthrop">Winthrop</option>
                    <option value="Other">Other</option>
                </select>
            </div>

            <div class="col-md-3 mb-2">
                <label class="my-1 mr-2" for="year">Year</label>
                <select class="custom-select my-1 mr-sm-2" id="year" name="year" placeholder="Year" required>
                    <option selected disabled>Year</option>
                    <option value="2019">2019</option>
                    <option value="2020">2020</option>
                    <option value="2021">2021</option>
                    <option value="2022">2022</option>
                    <option value="other">Other</option>
                </select>
            </div>
        </div>

        <div class="form-row">
            <button class="btn btn-primary" type="submit">Register</button>
        </div>
        <div>
            Note: your account will not be activated until you verify your account. Also, by registering for an account, this web app
            uses your information detailed in this form and can send it to other users, by clicking register you agree to this.
        </div>
    </form>
    <script>
        document.querySelector('form').onsubmit = function(e)
        {
            e.preventDefault();
            $.get("/check", {username: document.querySelector('input[name=username]').value}, function(data)
            {
                if (data)
                {
                    document.querySelector('form').submit();
                }
                else
                {
                    alert('This username is invalid. Try another.');
                }
            });

        };
    </script>
{% endblock %}
